@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.active {
  color: rgb(253, 133, 88);
}

header {
  height: 80px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(34, 34, 34);
  height: 100%;
}
header .container h1 {
  letter-spacing: 1.1px;
}
header .container nav {
  margin-right: 100px;
}
header .container nav a {
  font-size: 15px;
  line-height: 1.4px;
  letter-spacing: 0.2px;
  color: rgb(34, 34, 34);
  margin-right: 30px;
}
header .container nav .active {
  color: rgb(253, 133, 88);
}
header .container div {
  font-size: 25px;
  display: none;
}
@media only screen and (max-width: 720px) {
  header .container nav {
    display: none;
  }
  header .container div {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  header .container nav {
    margin-right: 0;
  }
  header .container nav a {
    margin-right: 15px;
  }
}

main .bg-img {
  width: 100%;
}
main .bg-img img {
  width: 100%;
}
main .introduction {
  margin: 80px 0;
}
main .introduction img {
  margin-left: 15px;
  max-width: 100%;
}
main .introduction .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .introduction .container .left-side {
  width: 45%;
  margin-top: 100px;
}
main .introduction .container .left-side .active {
  font-size: 13px;
}
main .introduction .container .left-side .left-side-content {
  font-size: 40px;
  color: rgb(51, 51, 51);
  margin-top: 30px;
}
@media screen and (max-width: 600px) {
  main .introduction .container .left-side .left-side-content {
    font-size: 25px;
  }
}
main .introduction .container .right-side {
  width: 48%;
  margin-top: 100px;
}
main .introduction .container .right-side p:first-child {
  color: rgb(34, 34, 34);
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
}
main .introduction .container .right-side p:last-child {
  color: rgb(153, 153, 153);
  font-size: 15px;
  line-height: 25.5px;
  margin-top: 10px;
}
@media screen and (max-width: 720px) {
  main .introduction img {
    margin-left: 0;
  }
}
main .introduction-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
main .introduction-image .intro-img {
  width: 47%;
}
main .introduction-image .intro-img img {
  width: 100%;
}
main .introduction-image .mission {
  width: 47%;
}
main .introduction-image .mission div:first-child {
  color: rgb(34, 34, 34);
  font-size: 26px;
  line-height: 45px;
  padding-left: 48px;
  max-width: 400px;
}
main .introduction-image .mission div:first-child .active {
  font-style: italic;
}
main .introduction-image .mission div:last-child {
  margin-top: 60px;
}
main .introduction-image .mission div:last-child p:first-child {
  color: rgb(34, 34, 34);
  font-size: 20px;
  line-height: 20px;
}
main .introduction-image .mission div:last-child p:last-child {
  color: rgb(202, 202, 202);
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1.8px;
}
@media only screen and (max-width: 720px) {
  main .introduction-image {
    display: block;
  }
  main .introduction-image .intro-img {
    width: 100%;
  }
  main .introduction-image .mission {
    width: 100%;
  }
}
main .text-cards {
  margin: 80px 0;
}
main .text-cards .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .text-cards .container .text-card {
  width: 28%;
  text-align: center;
}
main .text-cards .container .text-card h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}
main .text-cards .container .text-card p {
  font-size: 15px;
  line-height: 25px;
  color: rgb(153, 153, 153);
}
main .text-cards .container .text-card img {
  width: 75px;
  height: 85px;
}
@media screen and (max-width: 720px) {
  main .text-cards .container {
    display: block;
    width: 100%;
  }
  main .text-cards .container .text-card {
    width: 100%;
  }
}
main .text-cards .underline-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 65px;
}
main .text-cards .underline-group .underline {
  width: 40%;
  height: 3px;
  background-color: #e5e5e5;
}
main .portfolio {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
main .portfolio .left-side .active {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
main .portfolio .left-side p:last-child {
  color: rgb(51, 51, 51);
  font-size: 32px;
  line-height: 38.4px;
}
main .portfolio .right-side button {
  background-color: rgb(253, 133, 88);
  color: #fff;
  border: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  padding: 8px 18px;
}
@media screen and (max-width: 750px) {
  main .portfolio {
    display: block;
  }
  main .portfolio .left-side {
    margin-bottom: 15px;
  }
}
main .work-text {
  text-align: right;
  margin-right: 20px;
}
main .work-text img {
  max-width: 100%;
}
main .portfolio-pic {
  margin-bottom: 100px;
  display: flex;
  width: 100%;
}
main .portfolio-pic .left-side {
  width: 27%;
}
main .portfolio-pic .left-side img {
  width: 100%;
}
main .portfolio-pic .center-side {
  width: 46%;
}
main .portfolio-pic .center-side img {
  max-width: 100%;
  height: 100%;
}
main .portfolio-pic .right-side {
  width: 27%;
}
main .portfolio-pic .right-side img {
  max-width: 100%;
}
@media screen and (max-width: 720px) {
  main .portfolio-pic {
    display: block;
    width: 100%;
  }
  main .portfolio-pic .left-side {
    width: 100%;
    margin: 0 auto;
  }
  main .portfolio-pic .center-side {
    width: 100%;
    margin: 0 auto;
  }
  main .portfolio-pic .right-side {
    width: 100%;
    margin: 0 auto;
  }
}
main .skills-range {
  position: relative;
}
main .skills-range .skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .skills-range .skills .left-side {
  width: 47%;
}
main .skills-range .skills .left-side h5 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  margin-bottom: 20px;
}
main .skills-range .skills .left-side p:last-child {
  line-height: 25.5px;
  color: rgb(153, 153, 153);
}
main .skills-range .skills .left-side .active {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 15.4px;
}
main .skills-range .skills .right-side {
  width: 47%;
}
main .skills-range .skills .right-side h5 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 400;
  margin-bottom: 15px;
}
main .skills-range .skills .right-side .range-top {
  margin-bottom: 40px;
  position: relative;
}
main .skills-range .skills .right-side .range-top .range {
  display: flex;
}
main .skills-range .skills .right-side .range-top .range .line-left {
  width: 90%;
  height: 10px;
  background: linear-gradient(rgb(255, 72, 3), rgb(255, 174, 53));
}
main .skills-range .skills .right-side .range-top .range .line-right {
  width: 10%;
  height: 10px;
  background-color: rgb(238, 238, 238);
}
main .skills-range .skills .right-side .range-top .per-90 {
  color: rgb(153, 153, 153);
  position: absolute;
  top: 20%;
  right: 9%;
}
main .skills-range .skills .right-side .range-center {
  margin-bottom: 40px;
  position: relative;
}
main .skills-range .skills .right-side .range-center .range {
  display: flex;
}
main .skills-range .skills .right-side .range-center .range .line-left {
  width: 80%;
  height: 10px;
  background: linear-gradient(rgb(255, 75, 5), rgb(255, 174, 53));
}
main .skills-range .skills .right-side .range-center .range .line-right {
  width: 20%;
  height: 10px;
  background-color: rgb(238, 238, 238);
}
main .skills-range .skills .right-side .range-center .per-80 {
  color: rgb(153, 153, 153);
  position: absolute;
  top: 20%;
  right: 22%;
}
main .skills-range .skills .right-side .range-bottom {
  position: relative;
}
main .skills-range .skills .right-side .range-bottom .range {
  display: flex;
}
main .skills-range .skills .right-side .range-bottom .range .line-left {
  width: 95%;
  height: 10px;
  background: linear-gradient(rgb(255, 72, 3), rgb(255, 174, 53));
}
main .skills-range .skills .right-side .range-bottom .range .line-right {
  width: 5%;
  height: 10px;
  background-color: rgb(238, 238, 238);
}
main .skills-range .skills .right-side .range-bottom .per-95 {
  color: rgb(153, 153, 153);
  position: absolute;
  top: 20%;
  right: 4%;
}
@media screen and (max-width: 720px) {
  main .skills-range .skills {
    display: block;
  }
  main .skills-range .skills .left-side {
    width: 100%;
  }
  main .skills-range .skills .right-side {
    width: 100%;
  }
}
main .team {
  margin: 100px 0;
}
main .team .team-head {
  text-align: center;
}
main .team .team-head h6 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
main .team .team-head p {
  font-size: 32px;
  line-height: 42px;
  color: rgb(34, 34, 34);
  text-transform: capitalize;
}
main .team .team-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .team .team-cards .team-card {
  position: relative;
  margin-top: 20px;
}
main .team .team-cards .team-card img {
  max-width: 100%;
}
main .team .team-cards .team-card .team-content {
  position: absolute;
  top: 155px;
  left: 104px;
  color: #fff;
  text-align: center;
}
main .team .team-cards .team-card .team-content h5 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
main .team .team-cards .team-card .team-content p {
  font-size: 14px;
  line-height: 24px;
}
main .team .btn {
  text-align: center;
  margin-top: 90px;
}
main .team .btn button {
  padding: 10px 28px;
  background: rgb(253, 133, 88);
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}
main .testimonials {
  background: rgb(58, 15, 115);
  color: rgb(255, 255, 255);
}
main .testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .testimonials .container .main-img img {
  max-width: 100%;
}
main .testimonials .container .test-content {
  max-width: 730px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 28.8px;
}
main .testimonials .container div:first-child {
  padding: 50px 0;
}
main .testimonials .container div:last-child {
  display: flex;
  align-items: center;
  margin: 50px 0;
}
main .testimonials .container div:last-child img {
  width: 70px;
  height: 70px;
}
main .testimonials .container div:last-child div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .testimonials .container div:last-child div p:first-child {
  font-size: 14px;
  line-height: 22.4px;
}
main .testimonials .container div:last-child div p:last-child {
  font-size: 13px;
  line-height: 22.4px;
}
main .news-header {
  text-align: center;
  margin-top: 100px;
}
main .news-header h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 15.2px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
main .news-header p {
  font-size: 32px;
  line-height: 41.6px;
  color: rgb(34, 34, 34);
  margin-bottom: 20px;
}
main .news-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
main .news-cards .card img {
  max-width: 100%;
}
main .news-cards .card figcaption {
  margin-top: 15px;
}
main .news-cards .card figcaption .top {
  display: flex;
}
main .news-cards .card figcaption .top span {
  margin-right: 15px;
  font-size: 15px;
  line-height: 21px;
}
main .news-cards .card figcaption .top div {
  display: flex;
  align-items: center;
}
main .news-cards .card figcaption .top div img {
  margin-right: 5px;
}
main .news-cards .card figcaption .center {
  margin: 20px 0;
  font-size: 24px;
  line-height: 33px;
  color: rgb(34, 34, 34);
  max-width: 300px;
}
main .news-cards .card figcaption a {
  font-size: 15px;
  line-height: 21px;
}
main .contact {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .contact .left-side {
  width: 40%;
  margin-bottom: 80px;
}
main .contact .left-side h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: rgba(34, 34, 34, 0.4);
}
main .contact .left-side .left-top-side {
  margin-bottom: 25px;
}
main .contact .left-side .left-top-side p {
  font-size: 24px;
  line-height: 33px;
  color: rgb(34, 34, 34);
}
main .contact .left-side .left-bottom-side div {
  display: flex;
  flex-direction: column;
}
main .contact .left-side .left-bottom-side div a {
  color: rgb(34, 34, 34);
  font-size: 24px;
  line-height: 33px;
}
main .contact .right-side {
  width: 60%;
}
main .contact .right-side .input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;
}
main .contact .right-side div {
  width: 49%;
}
main .contact .right-side div input {
  width: 100%;
  padding: 15px;
}
main .contact .right-side textarea {
  width: 100%;
  padding: 15px;
}
main .contact .right-side button {
  padding: 10px 20px;
  background-color: rgb(253, 133, 88);
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 50px;
}
@media screen and (max-width: 745px) {
  main .contact {
    display: block;
  }
  main .contact .left-side {
    width: 100%;
  }
  main .contact .left-side .left-top-side p {
    font-size: 20px;
  }
  main .contact .left-side .left-bottom-side div a {
    font-size: 20px;
  }
  main .contact .right-side {
    width: 100%;
  }
}
@media screen and (min-width: 746px) and (max-width: 850px) {
  main .contact .left-side {
    width: 50%;
  }
  main .contact .right-side {
    width: 50%;
  }
}

footer {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  margin-top: 100px;
}
footer .container {
  padding: 60px 0;
}
footer .container .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .container .links .logo {
  width: 30%;
}
footer .container .links .logo img {
  margin-bottom: 40px;
}
footer .container .links .logo div a:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  padding-right: 8px;
}
footer .container .links .right-side {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
footer .container .links .right-side h4 {
  margin-bottom: 20px;
}
footer .container .links .right-side ul {
  display: flex;
  flex-direction: column;
}
footer .container .footer-bottom {
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: rgb(186, 186, 186);
  margin-top: 70px;
}
footer .container a {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
@media screen and (max-width: 750px) {
  footer .container .links {
    display: block;
    text-align: center;
  }
  footer .container .links div {
    margin-bottom: 30px;
  }
  footer .container .links .right-side {
    display: block;
    width: 100%;
  }
  footer .container .links .logo {
    width: 100%;
  }
}
@media screen and (min-width: 751px) and (max-width: 980px) {
  footer .container .links .logo {
    width: 26%;
  }
  footer .container .links .right-side {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  main .introduction .container {
    display: block;
    width: 100%;
  }
  main .introduction .container .left-side {
    width: 100%;
  }
  main .introduction .container .right-side {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */